body{
    text-align: center;
    margin: auto;
    background-color: black;
    color: antiquewhite;
}

.galeria{
    margin: auto;
    width: 70%;
    height: fit-content;
    position: relative;
    display: flex;
    overflow: auto;
    scroll-snap-type: x mandatory;
    border-radius: 30px;

}

img{
    width: 100%;
    height: 100;
    position: sticky;
    left: 0;
    flex-shrink: 0;
    object-fit: cover;
    scroll-behavior: smooth;
}

video{
    margin: 40px;
    border-radius: 30px;
    width: 70%


}

table {
    background-color: rgba(12, 117, 56, 0.822);
    width: 25%;
    margin:auto;
    font-size: 20px;
}



table tr:nth-child(even){

    background-color: rgb(208, 243, 11);
}



.informacao{
    border-radius: 30px;
    padding: 50px;
    background-color: rgb(38, 57, 141);
    width:50% ;
    margin: auto;
}


footer{
    color: aliceblue;
    font-size: 30px;
}

header{

    background-color: #a3b18a;
    margin: 0;
    padding: 0;
}

nav{
    background-color: #344e41;
    padding: 5px;
}
nav li a{
    text-decoration: none;
    color: #dad7cd;
    padding: 0 10px;
    font-size: 15px;
}

nav li{
    text-align: left;
    letter-spacing: 5px;
}

nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-self: unset;
    padding: 10px;
    list-style: none;
}
















